
.sort{position: relative;z-index: 500;margin-top: 25px;}
.sort>.wrap{box-sizing: content-box;height: 36px;border: 1px solid #e4e4e4;background: #f5f5f5;color: #666;line-height: 36px}
.sort .sortMode{overflow: visible;float: left;height: 36px}
.sort .sortMode h3{float: left;padding: 0 18px;background: #fff;border-right: 1px solid #e4e4e4;font-size: 12px;font-weight: 400;cursor: default}
.sort .sortMode h1{float: left;padding: 0 18px;background: #fff;border-right: 1px solid #e4e4e4;font-size: 12px;font-weight: 400;cursor: default}
.sort .sortMode>dl{position: relative;z-index: 10;overflow: hidden;float: left;height: 36px;margin: 0 1px 0 -1px;white-space: nowrap}
.sort .sortMode dt{padding: 0 18px;cursor: pointer;}
.sort .sortMode dd{position: relative;z-index: 12;visibility: hidden;opacity: 0;-webkit-transition: all .1s ease .1s;-moz-transition: all .1s ease .1s;-ms-transition: all .1s ease .1s;transition: all .1s ease .1s}
.sort .sortMode dd a{display: block;padding: 0 32px 0 17px;color: #666}
.sort .sortMode dt>.arrow{position: relative;display: inline-block;margin-left: 5px}
.sort .sortMode dt>.arrow:after, .sort .sortMode dt>.arrow:before{display: block;width: 0!important;height: 0!important;padding: 0!important;font-size: 0!important;line-height: 0!important;border: 5px solid transparent;border-bottom-width: 0;border-top-color: #666;content: " "}
.sort .sortMode dt>.arrow:after{position: absolute;left: 1px;bottom: 1px;border-width: 4px;border-bottom-width: 0;border-top-color: #f5f5f5}
.sort .sortMode dd a:hover{color: #35B558}
.sort .sortMode>dl:hover{height: auto;overflow: visible;background: #fff;border: 1px solid #e4e4e4;border-width: 0 1px 1px;-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.1);box-shadow: 1px 1px 4px rgba(0,0,0,.1)}
.sort .sortMode>dl:hover dt{padding: 0 17px;}
.sort .sortMode>dl:hover dt>.arrow{visibility: hidden}
.sort .sortMode>dl:hover dd{visibility: visible;opacity: 1;}
.sort .previewMode{float: right}
/*.kuai-icon{width: 35px;height: 36px;background: #fff;border-left: 1px solid #e4e4e4;float: left;}
.kuai-icon a{display: block;width: 35px;height: 36px;}
.kuai-icon a .icon{}
.list-icon{width: 35px;height: 36px;background: #f5f5f5;border-left: 1px solid #e4e4e4;float: left;}*/
.previewMode li{position:relative;float:left;width:36px;height:36px;border-left:1px solid #e4e4e4;line-height:36px;text-align:center;cursor:pointer;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;transition:background-color .2s}
.previewMode li.curr,.previewMode li:hover{background:#fff}
.previewMode li .icon{position:relative;top:-1px;display:inline-block;width:14px;height:14px;background:url(../images/preview-icon_2ae2eb9.png) 50% 50% no-repeat; margin-top:11px;}
.previewMode li.kuai-icon .icon{width:14px;background-position:0 0}
.previewMode li.list-icon .icon{width:19px;background-position:-15px 0}
